.movie{
    display:flex;
    flex-direction:column;
    justify-content: space-arround;
    width:200px;
    /* height: 100px; */
    padding:5px;
    margin:5px 0px;
    border-radius: 10px;
    position: relative;
    background-color: #E2ABCB;
    font-family: 'M';
    /* border: 1px solid black; */

    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.movie:hover{
    /* color: aliceblue; */
    background-color:#FFC1C7;

}
@media(max-width:550px) {
    .movie {
        width:46%;
    }
}
.Title{
    text-align: center;
    padding: 8px 0px;
    width: 100%;
    font-size: 17px;
}
img{
    /* width:100%; */
    border-radius: 10px;
   
}
.faza{
    display:flex;
    /* justify-content:space-between; */
    padding-bottom:3px;
    padding:0px 2px; 

}
